<!DOCTYPE html>
<html lang="en">
<head>
  {% load static  %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sensive Blog - Home</title>
  <link rel="icon" href="{% get_static_prefix %}img/favicon.png" type="image/png">

  <link rel="stylesheet" href="{% get_static_prefix  %}styles.min.css">
</head>
<body>
    {% block content %}
    {% endblock %}
  <script src="{% get_static_prefix  %}scripts.js"></script>
</body>
</html>
